@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: darkgray;
  font-size: 30px;
  display: grid;
  gap: 10px 15px;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.item {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
}